

@media only screen and (max-width: 500px) {

    .sideBox1 {
        width: 90%;
        float: none;
        height: 270px;
    }

    .sideBox1Authors {
        font-size: 34px;
        left: 35px;
        top: 20px;
    }

    .userAuthorIcon {
        font-size: 32px;
        left: 60px;
        top: 40px;
    }

    .userAuthorIcon2 {
        left: 70px;
    }

    .userAuthorIcon3 {
        left: 80px;
    }

    .userAuthorIcon4 {
        left: 90px;
    }

    .userAuthorIcon5 {
        left: 100px;
    }

    .userAuthorIcon6 {
        left:110px;
    }

    .userAuthorIcon7 {
        top: 83px;
        left: -156px;
    }

    .userAuthorIcon8 {
        top: 83px;
        left: -146px;
    }

    .userAuthorIcon9 {
        top: 83px;
        left: -136px;
    }

    .userAuthorIcon10 {
        top: 83px;
        left: -126px;
    }


    .sideBox1Text {
        font-size: 19px;
        top: 95px;
        left: 60px;
        width: 60%;
    }

    .sideBox2 {
        top: 60px;
        left: 5%;
        width: 90%;
        height: 195px;
    }

    .calendarIcon {
        width: 60px;
        left: 30px;
    }

    .detailsText {
        font-size: 23px;
        top: 4px;
        left: 120px;
    }

    .sideBox3 {
        float: none;
        left: 5%;
        width: 90%;
        top: 80px;
        height: 244px;
    }

    .sideBox3BigText {
        font-size: 30px;
    }

    .sideBox3Text {
        font-size: 25px;
        left: 40px;
        top: 50px;
        width: 80%;
    }

    .sideBox4 {
        float: none;
        width: 90%;
        top: 100px;
        left: 5%;
    }

    .sideBox4Text {
        width: 40%;
    }

    .sideBox4Text a {
        position: relative;
        top: -15px;
        left: 50px;
        font-size: 25px;
        width: 40%;
    }

    .permalinksIcon {
        left: 35px;
        width: 20%;
    }

    .mainBox1 {
        top: 120px;
        width: 90%;
    }

    .mainLeftBox {
        top: 140px;
        width: 90%;
        left: 5%;
    }

    .mainRightBox {
        left: 5%;
        width: 90%;
        float: none;
        top: 160px;
    }

    .mainBox2 {
        top: 180px;
    }

    .mainBox3 {
        top: 200px;
        width: 90%;
        left: 5%;
    }

    footer {
        top: 220px;
    }

    .share {
        left: 30%;
    }

    .shareIcon {
        font-size: 22px;
        text-indent: 10px;
    }

    .mainBox1Text {
        font-size: 18px;
        top: 147px;
    }

}

@media only screen and (max-width: 490px) {
    .mainBox2 {
        height: 760px;
    }

    .copyrightsText2 {
        top: 125px;
        left: 50%;
        margin-left: -120px;
    }

    .copyrightsText1 {
        left: 50%;
        margin-left: -80px;
    }

    .footerText {
        font-size: 18px;
        left: 50%;
        margin-left: -106.7px;
    }
}

@media only screen and (max-width: 460px) {
    .mainBox2 {
        height: 800px;
    }

    .shareIcon {
        font-size: 18px;
        text-indent: 8px;
    }

    .mainBox1Text {
        font-size: 15px;
        top: 145px;
    }
}

@media only screen and (max-width: 440px) { 
    .summaryText {
        width: 85%;
        font-size: 15px;
    }

    .mainBox2 {
        height: 840px;
    }

    .sideBox1Authors {
        font-size: 30px;
    }

    .sideBox1Text {
        font-size: 18px;
        top: 105px;
    }

    .share {
        left: 25%;
    }

    .mainBox3 {
        height: 600px;
    }

    .mainBox3List {
        left: 25px;
    }

    .userAuthorIcon {
        font-size: 28px;
    }

    .userAuthorIcon7 {
        left: -132px;
    }

    .userAuthorIcon8 {
        left: -122px;
    }

    .userAuthorIcon9 {
        left: -112px;
    }

    .userAuthorIcon10 {
        left: -102px;
    }

    .sideBox3Text {
        font-size: 23px;
    }

    .shareIcon {
        font-size: 16px;
        text-indent: 6px;
    }
}


@media only screen and (max-width: 410px) {
     .mainBox2 {
        height: 950px;
    }
}

@media only screen and (max-width: 400px) {
    .summaryText {
        width: 85%;
        font-size: 14px;
    }
}

@media only screen and (max-width: 390px) {
    .sideBox1Text {
        font-size: 17px;
    }

    .detailsText {
        font-size: 21px;
        left: 110px;
    }

    .sideBox3BigText {
        font-size: 28px;
    }

    .sideBox3Text {
        font-size: 21px;
    }

    .sideBox4Text a {
        left: 45px;
        font-size: 22px;
    }

    .share {
        left: 23%;
    }

    .shareIcon {
        font-size: 16px;
        text-indent: 5px;
    }

    .mainBox1Text {
        font-size: 14px;
    }

    .mainBox3List ul li a {
        font-size: 14px;
    }

    .mainBox3 {
        height: 605px;
    }
} 

@media only screen and (max-width: 381px) {

    .mainBox3 {
        height: 655px;
    }
}

@media only screen and (max-width: 365px) {

    .sideBox4Text a {
        top: -10px;
        font-size: 20px;
    }

    .summaryText {
        line-height: 26px;
        width: 80%;
    }

    .mainBox3List {
        top: 90px;
        left: 20px;
    }

    .mainBox3 {
        height: 675px;
    }

    .sideBox1Text {
        font-size: 16px;
    }

    .detailsText {
        font-size: 19px;
    }

   .userAuthorIcon {
        font-size: 24px;
        left: 45px;
        top: 35px;
    }

    .userAuthorIcon2{
        left: 55px;
    }
    .userAuthorIcon3{
        left: 65px;
    }
    .userAuthorIcon4{
        left: 75px;
    }
    .userAuthorIcon5{
        left: 85px;
    }
    .userAuthorIcon6{
        left: 95px;
    }
    .userAuthorIcon7{
        top: 80px;
        left: -122px;
    }

    .userAuthorIcon8{
        top: 80px;
        left: -112px;
    }
    .userAuthorIcon9{
        top: 80px;
        left: -102px;
    }
    .userAuthorIcon10{
        top: 80px;
        left: -92px;
    }

    .sideBox1Text {
        left: 50px;
    }

    .share {
        left: 18%;
    }

    .sideBox1Authors {
        font-size: 25px;
    }

    .shareIcon {
        font-size: 13px;
    }

    .sideBox3Text {
        font-size: 17px;
    }

    .sideBox4Text a {
        top: -10px;
        font-size: 16px;
    }

    .sideBox3BigText {
        font-size: 26px;
    }
}

@media only screen and (max-width: 340px) {
    .sideBox1Text {
        font-size: 15px;
    }

    .mainBox2 {
        height: 990px;
    }

    .mainBox3 {
        height: 720px;
    }
}

@media only screen and (max-width: 330px) {
    .mainBox2 {
        height: 980px;
    }

    .mainBox3 {
        height: 720px;
    }
}