/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/* MY CSS */

.show{
    display: block;
}

.hide{
    display: none;
}

body{
    background-color: #e6e7e9;
    font-family: 'Roboto', sans-serif;
    height: 0;
}

header{
    height: 84px;
    width: 95%;
    background-color: #4b4b4b;
    border-bottom: 7px solid #f3971c;
    padding-left: 5%;
}
.logo{
    float: left;
}
.logo:after{
    content: '';
    display:block;
    clear: both;
}
.menu{
    display: none;
}
 header nav ul li a{
    float: left;
    color: #fff;
    padding: 14px 25px;
    font-size: 26px;
    font-weight: 300;
    text-decoration: none;
    top: 33px;
    position: relative;
    letter-spacing: -1px;
    text-transform: uppercase;
 }
 header nav ul li:last-child{
    right: 5%;
    position: absolute;
 }
 .barMenu {
    display: none;
    }
 .active {
    background-color: #f8931d;
    border-radius: 4px;
}
.searchForm{
    width: 95%;
    height: 121px;
    padding-left: 5%;
    background-color: #6d6e72;
}
.dataSearch{
    color: #fff;
    font-size: 34px;
    font-weight: 500;
    top: 105px;
    position: absolute;
    left: 5%;
}

.inputSearch{
    width: 45%;
    height: 43px;
    border-radius: 5px;
    border: 2px solid #fff;
    background-color: #6d6e72;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 0px;
    text-indent: 18px;
    position: relative;
    top: 60px;
    float: left;
}
::placeholder {
    color: #fff;
    opacity: 0.6; /* Firefox */
}
.fa-search{
    position: absolute;
    top: 167px;
    left: 46%;
    z-index: 10;
    color: #fff;
}

.inputYear {
    width: 15%;
    margin-left: 3%;
    height: 43px;
    border-radius: 5px;
    border: 2px solid #fff;
    background-color: #6d6e72;
    color: #fff;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 0px;
    text-indent: 18px;
    position: absolute;
    height: 41px;
    font-size: 15px;
    top: 151px;
    left: 47%;
}

.inputAuthor {
    width: 15%;
    height: 43px;
    border-radius: 5px;
    border: 2px solid #fff;
    background-color: #6d6e72;
    color: #fff;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 0px;
    text-indent: 18px;
    position: absolute;
    height: 41px;
    font-size: 15px;
    top: 151px;
    left: 68%;
}

.fa-calendar-alt{
    position: absolute;
    top: 167px;
    left: 63.5%;
    z-index: 10;
    color: #fff;
}

.fa-user{
    position: absolute;
    top: 167px;
    left: 81%;
    z-index: 10;
    color: #fff;
}

.btn{
    width: 8%;
    height: 31px;
    border-radius: 5px;
    background-color: #fff;
    color: #6d6e72;
    position: absolute;
    left: 85.5%;
    top: 163px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
}

.btn:after {
    content: "";
    background: #989898;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.btn:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

.inBtuttonText{
    position: absolute;
    top: 8px;
    left: 50%;
    margin-left: -30px;
    font-weight: 600;
}


.featuresList{
    width: 95%;
    height: 61px;
    background-color: #fff;
    padding-left: 5%;
    box-shadow: 0px 2px #b1aeaead;
}

.featuresList ul li {
    float: left;
    list-style: none;
    padding-right: 2%;
    position: relative;
    top: 15px;
}

.featuresList ul li a {
    text-decoration: none;
    padding-right: 5px;
    
}

.mobileFeatureListButton{
    display: none;
}

.iconsStyleFeature{
    padding-right: 2%;
    font-size: 22px;
    border-radius: 50%;
    border: 8px solid #f4981d;
    color: #fff;
    background-color: #f4981d;
    top: -7px;
    position: relative;
}

.iconsStyleMap{
    padding-right: 2%;
    font-size: 22px;
    border-radius: 50%;
    border: 8px solid #6b6e72;
    color: #fff;
    background-color: #6b6e72;
    top: -7px;
    position: relative;
}

.iconsStyleRest{
    padding-right: 2%;
    font-size: 22px;
    border-radius: 50%;
    border: 8px solid #e7e8ea;
    color: #4a4a4a;
    background-color: #e7e8ea;
    top: -7px;
    position: relative;
}

.iconTextActive{
    font-size: 19px;
    color: #f5981c;
    position: relative;
    top: -7px;
    font-weight: 300;
    cursor: pointer;
}

.iconText{
    font-size: 19px;
    color: #4a4a4a;
    position: relative;
    top: -7px;
    font-weight: 300;
    cursor: pointer;
}

.container{
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 35px;
    width: 90%;
}

.sideBox1{
    float: left;
    height: 257px;
    position: relative;
    background-color: #fff;
    border-radius: 10px;
    top: 40px;
}

.sideBox{
    width: 16%;
    left: 5%;
}

.sideBox1Authors{
    font-size: 28px;
    font-weight: 500;
    position: relative;
    top: 30px;
    left: 30px;
    color: #494949;
    letter-spacing: -1.5px;
}

.sideBox1Text{
    position: relative;
    top: 115px;
    left: 30px;
    font-size: 16px;
    color: #828282;
}

.userAuthorIcon{
    color: #c7c7c7;
    position: relative;
    top: 50px;
    left: 35px;
    font-size: 22px;
}

.userAuthorIcon2{
    left: 40px;
}

.userAuthorIcon3{
    left: 45px;
}

.userAuthorIcon4{
    left: 50px;
}

.userAuthorIcon5{
    left: 55px;
}

.userAuthorIcon6{
    left: 60px;
}

.userAuthorIcon7{
    left: -121px;
    top: 85px;
}

.userAuthorIcon8{
    left: -116px;
    top: 85px;

}

.userAuthorIcon9{
    left: -111px;
    top: 85px;
}

.userAuthorIcon10{
    left: -106px;
    top: 85px;
}

.sideBox2{
    float: left;
    height: 186px;
    background-color: #fff;
    border-radius: 10px;
    position: relative;
    top: 70px;
}

.calendarIcon{
    position: relative;
    top: 50px;
    left: 25px;
}

.detailsText{
    position: relative;
    top: 15px;
    left: 80px;
    font-size: 16px;
    color: #828282;
}

.sideBox3{
    float: left;
    height: 186px;
    background-color: #fff;
    border-radius: 10px;
    position: relative;
    top: 100px; 
}

.sideBox3Text{
    position: relative;
    top: 50px;
    left: 30px;
    letter-spacing: -0.5px;
    font-size: 16px;
    color: #828282;
}

.sideBox3BigText{
    font-size: 24px;
    letter-spacing: 0px;
    color: #4b4b4b;
    font-weight: 500;
}

.sideBox3SmallText{
    font-size: 16px;
    letter-spacing: 0px;
    color: #4b4b4b;
    font-weight: 500;
}

.sideBox4{
    float: left;
    height: 186px;
    background-color: #fff;
    border-radius: 10px;
    position: relative;
    top: 130px;
}

.permalinksIcon{
    position: relative;
    top: 45px;
    left: 20px;
}

.sideBox4Text{
    position: relative;
    top: -20px;
    left: 100px;
}

.sideBox4Text a{
    color: #828282;
}

.mainBox1{
    position: relative;
    top: -775px;
    width: 71%;
    height: 310px;
    border-radius: 10px;
    background-color: #fff;
    left: 23%;
    font-weight: 300;
}

.mainBox1Icons{
    position: relative;
    top: 55px;
    left: 30px;
    font-size: 20px;
    color: #c3c3c3;
    border-bottom: 1px solid #c3c3c3;
    width: 90%;
    height: 40px;
}

.mainBox1Text{
    position: absolute;
    top: 155px;
    left: 25px;
    font-size: 22px;
    font-weight: 500;
}

.share{
    position: absolute;
    top: 250px;
    left: 66%;
    font-weight: 300;
    color: #c3c3c3;
}

.shareIcon{
    font-size: 30px;
    color: #c3c3c3;
    text-decoration: none;
    padding-right: 10px;
    text-indent: 15px;
}

.mainLeftBox{
    width: 34%;
    height: 330px;
    background-color: #fff;
    position: relative;
    border-radius: 10px;
    left: 23%;
    top: -740px;
}
.btnLarge{
    position: absolute;
    width: 156px;
    height: 36px;
    bottom: 20px;
    border-radius: 10px;
    left: 50%;
    margin-left: -78px;
    background-color: #f8931d;
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

.btnLarge:after {
    content: "";
    background: #f7d4a9;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.btnLarge:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

.btnLargeText{
    position: absolute;
    top: 8px;
    left: 20px;
}

.mainRightBox{
    width: 36%;
    height: 328px;
    background-color: #fff;
    position: relative;
    float: right;
    border-radius: 10px;
    left: -6%;
    top: -1070px;
}

.mainRightBox:after{
    content: "";
    display: block;
    clear: both;
}


.btnLarge2{
    position: absolute;
    width: 162px;
    height: 36px;
    bottom: 20px;
    border-radius: 10px;
    left: 50%;
    margin-left: -78px;
    background-color: #f8931d;
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

.btnLarge2:after {
    content: "";
    background: #f7d4a9;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.btnLarge2:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

.btnLargeText{
    position: absolute;
    top: 8px;
    left: 20px;
}

.btnLargeText2{
    position: absolute;
    top: 8px;
    left: 12px;
}
.mainBox2{
    position: relative;
    top: -697px;
    left: 23%;
    width: 71%;
    height: 400px;
    background-color: #fff;
    border-radius: 10px;
}

.summaryText{
    position: absolute;
    top: 90px;
    left: 30px;
    font-size: 22px;
    font-weight: 200;
    width: 95%;
    line-height: 30px;
    text-align: justify;
}

.mainBox3{
    position: relative;
    top: -650px;
    left: 23%;
    width: 71%;
    height: 550px;
    background-color: #fff;
    border-radius: 10px;
}

.mainBox3List{
    position: absolute;
    top: 100px;
    left: 40px;
    width: 80%;
}

.mainBox3List ul li {
    padding-bottom: 25px;
    list-style: square;
    font-size: 45px;
    position: relative;
    left: 29px;
    top: -10px;
    color: #4f4f4f;

}

.mainBox3List ul li a {
    font-size: 21px;
    position: relative;
    top: -10px;
    left: 0px;
    color: #4f4f4f;
    font-weight: 300;
}

.subLetter{
    font-size: 18px;
    color: #232323;
    font-weight: 200;
    position: absolute;
}

.italicLetters{
    font-style: italic;
}
footer{
    position: relative;
    top: -610px;
    width: 95%;
    height: 155px;
    background-color: #4b4b4b;
    border-top: 7px solid #f3971c;
    padding-left: 5%;
}

.footerText{
    position: absolute;
    top: 35px;
    right: 5%;
    color: #fff;
    font-size: 22px;
    font-weight: 200;
}

.footerText a{
    padding-right: 10px;
    text-decoration: none;
    color: #fff;
    letter-spacing: -1px;
    
}

.line{
    width: 90%;
    position: absolute;
    top: 80px;
    left: 5%;
    border: 1px solid #fff;
    opacity: 0.4;
}

.copyrightsText1{
    position: absolute;
    top: 105px;
    color: #6d6d6d;
    font-size: 17px;
}

.copyrightsText2{
    position: absolute;
    top: 105px;
    color: #6d6d6d;
    font-size: 17px;
    right: 5%;
}
/*****MEDIA QUERIES**************/


@media only screen and (max-width: 1760px) {

    .mainBox2 {
    height: 440px;
    }

    .mainBox3 {
    height: 600px;
    }
    
}


@media only screen and (max-width: 1599px) {
    .userAuthorIcon {
    font-size: 19px;
    }

    .userAuthorIcon7 {
        left: -103px;
        top: 80px;
    }
    .userAuthorIcon8 {
        left: -98px;
        top: 80px;
    }
    .userAuthorIcon9 {
        left: -93px;
        top: 80px;
    }
    .userAuthorIcon10 {
        left: -88px;
        top: 80px;
    }

    .sideBox1Text {
        top: 105px;
        width: 90%;
    }

    .share {
    left: 65%;
    }

    .shareIcon {
    font-size: 25px;
    text-indent: 10px;
    }

    .summaryText {
    font-size: 20px;
    }

    .mainBox3List ul li a {
    font-size: 19px;
    }

    .sideBox1Authors {
    font-size: 27px;
    }

    .sideBox3Text {
    font-size: 14px;
    }
    .sideBox3BigText {
    font-size: 22px;
    }
}
@media only screen and (max-width: 1411px) {
    .sideBox {
    width: 17%;
    }

    .mainBox1, .mainBox2, .mainBox3 {
        width: 70%;
        left: 24%;
    }

    .mainLeftBox{
        left: 24%;
    }
    .mainRightBox {
        width: 35%;
    }
    .mainBox2 {
        height: 480px;
    }

    .mainBox3 {
        height: 630px;
    }
}

@media only screen and (max-width: 1350px) {
    .sideBox1Text {
        font-size: 14px;
    }
    .detailsText{
        font-size: 14px;
    }

    .sideBox1Authors {
        font-size: 24px;
    }

    .mainBox1Text {
        font-size: 21px;
    }

    .shareIcon {
        font-size: 23px;
        text-indent: 7px;
    }

    .share {
        left: 60%;
    }

    .userAuthorIcon {
        font-size: 17px;
    }

    .userAuthorIcon7 {
        left: -91px;
        top: 80px;
    }

    .userAuthorIcon8 {
        left: -86px;
        top: 80px;
    }

    .userAuthorIcon9 {
        left: -81px;
        top: 80px;
    }

    .userAuthorIcon10 {
        left: -76px;
        top: 80px;
    }
}

@media only screen and (max-width: 1250px) {
    .sideBox {
        width: 18%;
    }

    .mainBox1, .mainBox2, .mainBox3 {
        width: 69%;
        left: 25%;
    }

    .mainLeftBox {
        left: 25%;
    }

    .mainRightBox {
        width: 34%;
    }

    .sideBox3BigText {
        font-size: 20px;
    }

    .sideBox3Text {
        font-size: 13px;
    }

    .sideBox4Text a {
        font-size: 16px;
    }
}

@media only screen and (max-width: 1200px) {
    .mainBox2 {
        height: 520px;
    }

    .sideBox {
        width: 19%;
    }

    .mainBox1, .mainBox2, .mainBox3 {
        width: 68%;
        left: 26%;
    }

    .mainLeftBox {
        left: 26%;
    }

    .mainRightBox {
        width: 33%;
    }
}


@media only screen and (max-width: 1119px) {

    .sideBox1Authors {
        font-size: 22px;
    }

    .mainBox1Text {
        font-size: 19px;
    }

    .shareIcon {
        font-size: 20px;
        text-indent: 5px;
    }

    .share {
        left: 55%;
    }

    .calendarIcon {
        width: 45px;
    }

    .detailsText {
        font-size: 13px;
        left: 75px;
    }

    .sideBox3BigText {
        font-size: 18px;
    }

    .sideBox3Text {
        font-size: 12px;
    }

    .summaryText {
        font-size: 18px;
    }

    .sideBox4Text a {
        font-size: 14px;
    }

    .linkIcon{
        width: 65px;
    }

    .mainBox3List ul li a {
        font-size: 18px;
    }

    .subLetter {
        font-size: 16px;
    }

}



@media only screen and (max-width: 1083px) {

    .sideBox {
        width: 20%;
    }

    .mainBox1, .mainBox2, .mainBox3 {
        width: 67%;
        left: 27%;
    }

    .mainLeftBox {
        left: 27%;
        width: 33%;
    }

    .mainBox2 {
        height: 560px;
    }
}

@media only screen and (max-width: 1030px) {

    .sideBox {
        width: 21%;
    }

    .mainBox1, .mainBox2, .mainBox3 {
        width: 66%;
        left: 28%;
    }

    .mainLeftBox {
        left: 28%;
        width: 32%;
    }


}

@media only screen and (max-width: 980px) {

    ..sideBox {
        width: 22%;
    }

    .mainBox1, .mainBox2, .mainBox3 {
        width: 65%;
        left: 29%;
    }

    .mainLeftBox {
        left: 29%;
        width: 31%;
    }

    .mainBox2 {
        height: 600px;
    }
}

@media only screen and (max-width: 951px) {

    .share {
    left: 45%;
    }

    .menu {
    display: inline-block;
    cursor: pointer;
    position: absolute;
    right: 5%;
    top: 35px;
    z-index: 100;
    }

    .bar1, .bar2, .bar3 {
        width: 35px;
        height: 5px;
        background-color: #fff;
        margin: 6px 0;
        transition: 0.4s;
    }

    .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-9px, 6px);
    }

    .change .bar2 {opacity: 0;}

    .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-8px, -8px);
    }

    .barMenu {
    width: 0px;
    height: 0px;
    background-color:rgba(75,75,75,0.8);
    position: absolute;
    top: 27px;
    right:6%;
    z-index: 60;
    display: none;
    }

    .barMenu ul li{
        list-style: none;
        padding-bottom: 20px;
    }

    .barListMenu{
        color: #fff;
        padding: 2px 5px;
        font-size: 26px;
        font-weight: 300;
        text-decoration: none;
        top: 33px;
        position: relative;
        text-transform: uppercase;
        opacity: 0;
        display: none;
        left: 35px;
    }

    header nav ul li a{
        display: none;
    }

    .searchForm {
    height: 180px;
    }

    .inputYear {
    width: 28%;
    height: 41px;
    top: 209px;
    left: 2%;
    }

    .inputAuthor {
    width: 25%;
    height: 41px;
    top: 209px;
    left: 36%;
    }

    .inputSearch {
    width: 70%;
    }

    .fa-search {
    left: 68%;
    }

    .btn {
    left: 64%;
    top: 224px;
    }

    .fa-user {
    top: 225px;
    left: 58%;
    }

    .fa-calendar-alt {
    top: 225px;
    left: 30%;
    }

    .sideBox1{
        width: 26%;
    }

    .sideBox2 {
        left: 35%;
        width: 28%;
        top: -217px;
    }

    .sideBox3 {
        left: 67%;
        width: 27%;
        top: -404px;
    }

    .sideBox4 {
        width: 26%;
        top: -300px;
    }

    .mainBox1 {
        left: 35%;
        width: 59%;
        top: -570px;
        height: 270px;
    }

    .mainLeftBox {
        left: 5%;
        width: 43%;
        top: -540px;
    }

    .mainRightBox {
        width: 44%;
        top: -870px;
        height: 330px;
    }

    .share {
        left: 42%;
        top: 235px;
    }

    .mainBox2 {
        top: -510px;
        height: 490px;
        width: 89%;
        left: 5%;
    }

    .mainBox3 {
        width: 89%;
        left: 5%;
        top: -480px;
    }
    footer {
        top: -440px;
    }

    .detailsText {
        font-size: 17px;
    }

    .sideBox3Text {
        font-size: 14px;
    }

    .sideBox3BigText {
        font-size: 20px;
    }


}

@media only screen and (max-width: 853px) { 

    .detailsText {
        font-size: 15px;
    }

    .mainBox2 {
        height: 530px;
    }
}


@media only screen and (max-width: 803px) {

    .inBtuttonText {
        top: 10px;
        margin-left: -27px;
        font-size: 14px;
    }

    .sideBox3Text {
        font-size: 12px;
    }

    .sideBox3BigText {
        font-size: 18px;
    }

}

@media only screen and (max-width: 795px) {
    .barListMenu {
        font-size: 24px;
        top: 36px;
    }

    .detailsText {
        left: 75px;
        font-size: 14px;
    }

    .sideBox1, .sideBox4 {
        width: 27%;
    }

    .mainBox1Text {
        font-size: 17px;
    }

    .shareIcon {
        font-size: 17px;
        text-indent: 3px;
    }

    .mainBox2 {
        height: 580px;
    }

    .summaryText {
        width: 90%;
    }
}
@media only screen and (max-width: 762px) {
    .userAuthorIcon {
        font-size: 15px;
    }

    .sideBox1Authors {
        font-size: 21px;
    }

    .sideBox1Text {
        font-size: 13px;
    }

    .detailsText {
        font-size: 13px;
    }

    .userAuthorIcon7 {
        left: -79px;
        top: 75px;
    }

    .userAuthorIcon8 {
        left: -74px;
        top: 75px;
    }

    .userAuthorIcon9 {
        left: -69px;
        top: 75px;
    }

    .userAuthorIcon10 {
        left: -64px;
        top: 75px;
    }

    .sideBox3BigText {
        font-size: 16px;
    }

    .mainBox1Text {
        font-size: 15px;
    }

    .mainBox1Icons {
        font-size: 17px;
    }

    .shareIcon {
        font-size: 15px;
        text-indent: 2px;
    }

    .summaryText {
        font-size: 17px;
    }

    .mainBox2 {
        height: 560px;
    }

    .mainBox3List ul li a {
        font-size: 17px;
    }

    .subLetter {
        font-size: 15px;
    }

    .iconText {
        font-size: 17px;
    }
}
@media only screen and (max-width: 730px) {
    .sideBox1, .sideBox4 {
        width: 28%;
    }

    .sideBox2 {
        left: 36%;
        width: 27%;
    }

    .calendarIcon {
        width: 38px;
        top: 60px;
    }

    .detailsText {
        font-size: 12px;
        left: 69px;
        top: 30px;
    }

    .sideBox3 {
        left: 65%;
        width: 29%;
    }

    .sideBox1Authors {
        font-size: 19px;
    }

    .mainBox1 {
        left: 36%;
        width: 58%;
    }

    .mainBox1Text {
        font-size: 13px;
        top: 150px;
    }

    .mainBox2 {
        height: 580px;
    }

    .footerText {
        font-size: 20px;
    }
}

@media only screen and (max-width: 701px) {
    .iconText {
        font-size: 16px;
    }

    .iconTextActive {
        font-size: 16px;
    }

    .mainBox2 {
        height: 610px;
    }

    .iconsStyleRest {
        font-size: 21px;
    }

    .iconsStyleFeature {
        font-size: 21px;
    }

    .iconsStyleMap {
        font-size: 21px;
    }
}

@media only screen and (max-width: 680px) {
    .iconsStyleRest, .iconsStyleFeature, .iconsStyleMap {
        font-size: 20px;
    }

    .iconTextActive, .iconTextA {
        font-size: 15px;
    }

    .calendarIcon {
        width: 35px;
        top: 70px;
    }

    .detailsText {
        font-size: 11px;
        left: 65px;
        top: 40px;
    }

    .sideBox1Text {
        font-size: 12px;
    }

    .sideBox3BigText {
        font-size: 15px;
    }

    .sideBox3Text {
        font-size: 10px;
    }

    .sideBox4Text a {
        font-size: 12px;
    }

    .linkIcon {
        width: 60px;
    }

    .shareIcon {
        font-size: 13px;
        text-indent: 0px;
    }

    .share {
        left: 38%;
        top: 235px;
    }

}

@media only screen and (max-width: 655px) {
    .inputYear {
        width: 27%;
    }

    .fa-calendar-alt {
        left: 28%;
    }

    .inputAuthor {
        width: 24%;
        left: 35%;
    }

    .fa-user {
        left: 55%;
    }

    .btn {
    width: 11%;
    }

    .inputSearch {
        width: 57%;
    }

    .fa-search {
        left: 55%;
    }

    .searchForm {
        height: 210px;
    }

    .btn {
        left: 5%;
        top: 264px;
    }

    .featuresList {
        height: 110px;
    }

    .featuresList ul li {
        padding-right: 15%;
        padding-bottom: 16px;
    }

    .featuresList ul li a {
        padding-right: 15px;
    }
    .fa-bullseye{
        left: -8px;
    }

    .lastChild{
        left: -8px;
    }

    .sideBox1 {
        width: 43%;
        top: 40px;
    }

    .inputSearch {
        width: 57%;
    }

    .fa-search {
        left: 55%;
    }

    .searchForm {
        height: 210px;
    }

    .btn {
        left: 5%;
        top: 264px;
    }

    .sideBox3 {
        left: 52%;
        width: 43%;
        top: -403px;
        height: 256px;
    }

    .sideBox4 {
        width: 43%;
        top: -378px;
        left: 5%;
    }

    .sideBox2 {
        top: 63px;
        left: 52%;
        width: 43%;
        height: 186px;
    }

    .mainBox1 {
        height: 272px;
        top: -350px;
        left: 5%;
        width: 90%;
    }

    .sideBox1Text {
        font-size: 16px;
    }

    .linkIcon {
        width: 70px;
    }

    .sideBox4Text a {
        font-size: 17px;
    }

    .calendarIcon {
        width: 50px;
        top: 50px;
    }

    .detailsText {
        font-size: 16px;
        left: 85px;
        top: 15px;
    }

    .shareIcon {
        font-size: 17px;
        text-indent: 4px;
    }

    .share {
        top: 230px;
    }

    .mainLeftBox {
        top: -320px;
        width: 40%;
    }

    .mainRightBox {
        width: 44%;
        top: -650px;
        height: 330px;
    }

    .mainBox2 {
        top: -280px;
        height: 640px;
        width: 90%;
    }

    .mainBox3 {
        top: -250px;
        height: 535px;
        width: 90%;
    }

    footer {
        top: -210px;
    }


    .share {
        left: 50%;
    }

    .mainBox1Text {
        font-size: 16px;
    }

    .summaryText {
        width: 90%;
    }

    .mainBox3List ul li {
        font-size: 30px;
    }
    
    .sideBox3Text {
        font-size: 17px;
        left: 16px;
        top: 75px;
    }

    .sideBox3BigText {
        font-size: 22px;
    }

    .sideBox1Authors {
        font-size: 26px;
    }
}

@media only screen and (max-width: 624px) {

    .mainBox3 {
        top: 2200px;
    }

    .featuresList ul li {
        float: none;
    }

    .featuresList {
        height: 280px;
    }

    .btn {
        width: 10%;
    }

    .mainBox1 {
        top: -360px;
        left: 5%;
        width: 90%;
    }

    .mainRightBox {
        top: -670px;
        width: 47%;
    }

    .mainLeftBox {
        top: -340px;
        left: 5%;
        width: 40%;
    }

    .mainBox2 {
        top: -320px;
        position: relative;
        left: 5%;
        width: 90%;
        height: 660px;
    }

    .mainBox3 {
        top: -300px;
        height: 565px;
    }

    footer {
        top: -275px;
    }

    .subLetter {
        font-size: 13px;
    }

    .mainBox3List ul li a {
        top: -7px;
        font-size: 16px;
    }

    .mainBox3List ul li {
        padding-bottom: 35px;
    }

    .mobileFeatureListButtonOpen {
        font-size: 30px;
        position: absolute;
        right: 5%;
        top: 314px;
        cursor: pointer;
        z-index: 10;
    }

    .mobileFeatureListButtonClose{
        font-size: 30px;
        position: absolute;
        right: 5%;
        top: 314px;
        cursor: pointer;
        z-index: 10;
    }

    .fa-caret-square-down{
        color: #6d6e72;      
    }
    
    .fa-caret-square-up{
        color: #6d6e72; 
    }

    .mobileFeatureList{
        height: 60px;
        overflow: hidden;
    }

    .iconTextActive {
        font-size: 22px;
        top: -5px;
    }

    .iconText {
        font-size: 22px;
        top: -5px;
    }

    .mobileFormButtonOpen{
        font-size: 30px;
        position: absolute;
        right: 5%;
        top: 105px;
        cursor: pointer;
        z-index: 10;
    }

    .mobileFormButtonClose{
        font-size: 30px;
        position: absolute;
        right: 5%;
        top: 105px;
        cursor: pointer;
        z-index: 10;
    }

    .fa-bullseye {
        left: 0px;
    }

    .lastChild {
        left: 0px;
    }
}

@media only screen and (max-width: 560px) {
    .btn {
        width: 15%;
    }

    .sideBox1Authors {
        font-size: 24px;
    }

    .sideBox1Text {
        font-size: 15px;
    }

    .sideBox3Text {
        font-size: 15px;
    }

    .sideBox3BigText {
        font-size: 20px;
    }

    .sideBox4Text a {
        font-size: 16px;
    }

    .detailsText {
        font-size: 14px;
    }

    .share {
        left: 44%;
    }

    .summaryText {
        font-size: 16px;
    }

    .mainBox3List ul li {
        font-size: 28px;
    }

    .mainBox3List ul li a {
        top: -6px;
        font-size: 15px;
    }

    .mainBox3 {
        height: 544px;
    }

    .footerText {
        font-size: 19px;
    }

    .copyrightsText1 {
        font-size: 14px;
    }

    .copyrightsText2 {
        font-size: 14px;
    }
}
@media only screen and (max-width: 530px) {
    .mainBox2 {
        height: 700px;
    }

    .mainBox3 {
        height: 580px;
    }
}

@media only screen and (max-width: 516px) {

    .searchForm {
        height: 60px;
        overflow: hidden;
        width: 100%;
        padding-left: 0;
    }

    .inBtuttonText {
        margin-left: -30px;
        font-size: 15px;
    }

    .inputAuthor {
        top: 268px;
    }

    .fa-user {
        top: 284px;
    }

    .mainBox2 {
        height: 730px;
    }

    .mainBox3 {
        top: -290px;
        height: 600px;
    }

    footer {
        top: -260px;
    }

    .logo {
        margin-left: -113.5px;
        left: 45%;
        position: relative;
    }

    .dataSearch {
        left: 50%;
        margin-left: -98px;
    }

    .inputSearch {
        width: 300px;
        left: 50%;
        margin-left: -150px;
        display: none;
        opacity: 0;
    }

    .fa-search {
        left: 75%;
        display: none;
        opacity: 0;
    }

    .inputYear {
        width: 300px;
        left: 50%;
        margin-left: -150px;
        display: none;
        opacity: 0;
    }

    .fa-calendar-alt {
        left: 75%;
        display: none;
        opacity: 0;
    }

    .inputAuthor {
        width: 300px;
        left: 50%;
        margin-left: -150px;
        display: none;
        opacity: 0;
    }

    .fa-user {
        left: 75%;
        display: none;
        opacity: 0;
    }

    .btn {
        left: 50%;
        top: 325px;
        width: 100px;
        margin-left: -50px;
        display: none;
        opacity: 0;
    }

    .mobileFeatureListButtonOpen {
        top: 167px;
    }

    .mobileFeatureListButtonClose {
        top: 167px;
    }

    .featuresList {
        width: 100%;
        padding-left: 0;
    }

    .featuresList ul li {
        padding-right: 0;
        left: 50%;
        padding-bottom: 16px;
        margin-left: -80px;
    }

}

/******************* HOVERS *********************/

.fa-twitter:hover{
    color:#00B6F1;
}

.fa-facebook-f:hover{
    color:#3B5998;
}

.fa-linkedin-in:hover{
    color:#04669A;
}

.fa-reddit-alien:hover{
    color: #ff4500;
}

.fa-google-plus-g:hover {
    color:#C20806;
}

